.main {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background-image: url(https://distribution.faceit-cdn.net/images/8e08442e-bdab-4bb4-915c-23ad0705af06.jpeg);
}
.title {
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.mde {
color: black;
font-weight: bold;
font-size: 30px;
font-family: 'Courier New', Courier, monospace;
}
.mem {
    font-size: 18px;
    color:yellow;
    font-family: 'Courier New', Courier, monospace;
}
.zoida {
    color: black;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1,5;
    text-align: justify;
}
