.main {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background-image: url(https://distribution.faceit-cdn.net/images/8e08442e-bdab-4bb4-915c-23ad0705af06.jpeg);
}
.title {
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
}
.text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.mde {
color: white;
font-weight: bold;
font-size: 40px;
font-family: 'Courier New', Courier, monospace;
}
.mem {
    font-size: 20px;
    color:darkred;
    font-family: 'Courier New', Courier, monospace;
    p {line-height: 10%;}
}
.zoida {
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-left: 35px;
    padding-right: 35px;
    p {line-height: 2;}
}
